# Configurações do Banco de Dados PostgreSQL
DATABASE_URL="postgresql://usuario:senha@localhost:5432/notas_corretagem"

# Configurações de Diretórios
INPUT_DIR="notas"
OUTPUT_DIR="Z:/3 Notas Corretagem"
